<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>


    <script src="static/js/admin-page.js" th:src="@{/js/admin-page.js}"></script>
    <script src="static/js/add-account.js" th:src="@{/js/add-account.js}"></script>

    <style>
        .addForm{
            margin: 0 auto;
            width: 400px;
        }
    </style>
</head>
<body>

<div class="container col-12">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Spring Boot recover</a>
        <a class="btn btn-secondary" th:href="@{/logout}">LogOut</a>
    </nav>

    <div class="row col-12">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h1>Admin Panel</h1>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Accounts Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">New Account</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <!-- Accounts Table Tab 1-->
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="table-responsive-sm">
                                <p><h5 class="card-title">All users</h5></p>
                                <table class="table table-hover acc-items">
                                    <thead>
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">first_name</th>
                                        <th scope="col">nickname</th>
                                        <th scope="col">email</th>
                                        <th scope="col">password</th>
                                        <th scope="col">edit</th>
                                        <th scope="col">delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- New Account Tab 2 -->
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <p><h5 class="card-title">Add new Account</h5></p>
                            <!-- Add Account page -->
                            <div class="addForm">
                                <div class="form-group">
                                    <label for="add_id">id</label>
                                    <input id="add_id"  class="form-control" type="id" name="id"></div>
                                <div class="form-group">
                                    <label for="add_firstName">first_name</label>
                                    <input id="add_firstName" class="form-control" type="text" name="firstName">
                                </div>

                                <div class="form-group">
                                    <label for="add_nickname">nickname</label>
                                    <input id="add_nickname" class="form-control" type="text" name="nickname">
                                </div>
                                <div class="form-group">
                                    <label for="add_email">email</label>
                                    <input id="add_email" class="form-control" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="add_password">Password:</label>
                                    <input id="add_password" type="password" class="form-control" >
                                </div>
                                <div id="newAddRow"></div>
                                <button id="createRow" type="button" class="btn btn-info">Add Row</button>
                                <button id="addButton" type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="editModal"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container"style="max-width: 700px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="id_edit">id</label>
                                <input id="id_edit" class="form-control" type="text" name="id_edit">
                            </div>
                            <div class="form-group">
                                <label for="first_name_edit">first_name</label>
                                <input id="first_name_edit" class="form-control" type="text" name="first_name_edit">
                            </div>
                            <div class="form-group">
                                <label for="nickname_edit">nickname</label>
                                <input id="nickname_edit" class="form-control" type="text" name="nickname_edit">
                            </div>
                            <div class="form-group">
                                <label for="email_edit">email</label>
                                <input id="email_edit" class="form-control" type="email" name="email_edit">
                            </div>
                            <div class="form-group">
                                <label for="password_edit">password</label>
                                <input id="password_edit" class="form-control" type="password" name="password_edit">
                            </div>
                            <div id="newRow"></div>
                            <button id="addRow" type="button" class="btn btn-info">Add Row</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button id="editButton" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
